doctype html
html
    head 
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        meta(name = "viewport" content = "with=device-width, initial-scale = 1.0")
        title Home
        link(rel = "stylesheet" href = "../Foods.css")
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    body
        div(class = "navigationBar")
            a(class = "active" href="/" class = "fas fa-home" title = "Home")                  
            a(href="/Foods") Food Search
        
        div(class = "searchBar")
            input(type="text" id="fname" placeholder="Search Food..")
            a(class = "searchButton")
                a(id = "btn1" class = "fas fa-search")
            br
            <!--input(id = "btn2" type="button" value = "Test()")-->
            div(class = "collapsible" id = "foodCollapsible")

        script(src = "../Jquery.js")

