doctype html 
html 
    head 
    <!-- Jquery initializiation -->
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
        <!-- Load Icons --> 
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        meta(name = "viewport" content = "with=device-width, initial-scale = 1.0")
        title Home
        link(rel="stylesheet" href="../home.css")
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

    body
        div(class = "navigationBar")
            a(class = "active" href="/" class = "fas fa-home" title = "Home")                  
            a(href="/Foods") Food Search
        form(action="POST" id = "form1")
            label(for = "firstName") First Name: 
            input(type = "text" name = "firstName") 
            input(type = "submit" value = "submit")
        
        script(src = "../homeJquery.js")

