.About-Me-Main-Div{
    display: block;
    width: 80vw;
}

.About-Me-Detail-Grid-Container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
    padding: 2rem;
    border-radius: 10px;
    font-family: Inter Tight;
    border: 2px solid black;
}

.About-Me-Detail-Picture{
    margin: auto auto;
    display: flex;
    width: 250px;
    height: 250px;
    transform: scale(1,1);
}


.About-Me-Description{
    border-radius: 10px;
    padding: 2rem 2rem;
    margin-right: 2rem;
    width: 100%;
    flex-basis: 40%;
    word-wrap: break-word;
    word-break: break-word;
    font-size: 1.75rem;
    background-color: var(--primary-color);
}

.About-Me-Text{
    font-size: 1.5rem;
    width: 100%;
    word-wrap: break-word;
    word-break: break-word;
    flex-basis: 60%;
}

.About-Me-Description .Skill{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.Description-Child::before{
    content: "✶ ";
    vertical-align: top;
    position: relative;
}


.Skill-Element{
    padding: 0 1ch;
}


/*=================================== Skill Display ===================================*/
.Skill-Outer{
    margin: 2rem auto;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

/*=================================== Media Display ===================================*/
@media screen and (max-width: 1300px){
    .About-Me-Description{
        font-size: 1.5rem;
    }
}


@media screen and (max-width: 900px){

    .About-Me-Detail-Grid-Container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width:80vw;
        padding: 0rem;
        border-radius: 10px;
        font-family: Inter Tight;
        border: 2px solid black;
    }


    .About-Me-Description{
        border-radius: 10px;
        padding: 2rem 2rem;
        margin: 0 auto;
        width: fit-content;
        flex-basis: 100%;
        word-wrap: break-word;
        word-break: break-word;
        font-size: 1.75rem;
        background-color: var(--primary-color);
    }
    
    .About-Me-Text{
        margin-top: 2rem;
        font-size: 1.5rem;
        width: 100%;
        word-wrap: break-word;
        word-break: break-word
    }

    .About-Me-Text{
        font-size: 1.25rem;
    }

    .About-Me-Detail-Picture{
        display: none;
    }
}


