
.one-word-title{
    font-size: 3rem;
    color: white;
    font-weight: bold;
    margin: 0 1rem;
}


.Homepage{
    height: fit-content;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
}



.Homepage-Body{
    display: flex;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    position: relative;

}

.background-fixed{
    background-image: url("/public/low-poly-grid-haikei.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -1;
    opacity: 0.1;
}

.Homepage-Body::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(152, 229, 255);
    z-index: -2;
}


.About-Me::after{
    content: '';
    background-image: url("/public/blurry-gradient-haikei.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.About-Me{
    position: relative;
    display: flex;
    flex-direction: row;
    max-height: fit-content;
    height: 90vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 1;
}



.about-me-title{
    display: flex;
    flex-direction: column;
    font-size: 2.5rem;
    margin-left: 5rem;
    width: 60%;
}

.About-Me-Detail{
    padding: 100px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.About-Me-Paper{
    border: 2px solid black;
    background-color: rgb(252, 121, 121);
}

.About-Me-Socials{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.About-Me-Socials .Name{
    font-weight: bold;
    font-size: 2rem;
}

.About-Me-Socials .Picture-Container{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
}

.About-Me-Socials .Picture-Container .Picture{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.Work-Experience{
    margin-top: 200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 100px 0px;
}

@media screen and (max-width: 1000px){
    .About-Me{
        display: flex;
        flex-direction: column;
        min-height: 30vh;
        align-items: center;
        justify-content: center;
    }

    .about-me-title{
        display: none;
        text-align: center;
    }

    .About-Me-Socials{
        display: flex;
        flex-direction: column;
        width: 80vw;
        align-items: center;
    }
}

.About-Me .fa {
    text-decoration: none;
    color: black;
    font-size: 2.5rem;
    margin: 0 0;
    padding: 0 0;
}

.Skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    min-height: 100vh;
    width: 100%;
    padding-bottom: 200px;
    background-color: rgba(55, 0, 255, 0.05);
}


.Projects::after{
    content:'';
    position: absolute;
    /*background-image: url("/public/Project.png");*/
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: -1;
}


.Projects{
    padding: 200px 0px;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}


@media screen and (min-width: 650px) and (max-width: 900px){
    .Homepage-Body{
        display: flex;
        height: fit-content;
        justify-content: space-between;
    }
}

@media screen and (max-width: 650px){
    .one-word-title{
        font-size: 2.25rem;
    }

    .About-Me-Socials .Picture-Container{
        height: 10rem;
        width: 10rem;
        border: 2px solid rgb(58, 183, 255);
        background-color: white;
        border-radius: 50%;
        overflow: hidden;
    }

    .Name {
        margin-top: 1.5rem;
    }

    .Homepage-Body{
        display: flex;
        height: fit-content;
        min-height: 80vh;
        justify-content: space-between;
    }

    .About-Me-Socials{
        margin-top: 10rem;
    }

    .about-me-title{
        margin-top: 2.5rem;
        margin-left: 0rem;
    }
}


