

.ItemBoxFrame{
    display: inline-block;
    width: 100%;
    height: 100%;
}
    
.ItemBox-Open-Frame{
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.ItemBox-Div{
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap;
}

.ItemBox-Open-Frame:hover{
    cursor: pointer;
}

.ItemBoxFrame-Image{
    height: 200px;
    width: 200px;
}

.ItemBoxFrame-Title{
    margin-top: 10px;
    color: inherit;
    overflow: hidden;
    text-overflow:ellipsis;
    text-align: center;
    font-weight: bold;
    color: var(--text-color);
}

.image-demo{
    position: absolute;
    top: 0px;
    right: 0.25rem;
    color: black;;
    font-weight: bold;
}

@media screen and (max-width: 660px){
    .ItemBox-Div{
        display: none;
    }
}