.Project-Page{
  max-height: fit-content;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  width: 100%;
  margin: 3rem 0rem 10rem 0rem;
}


.project-storage{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#inprogress-projects{
  display: none;
}

#complete-projects{
  display: flex;
}


.project-item{
  width: 30vw;
  min-width: fit-content;
  height: auto;
  display: flex;
  padding: 10px 10px;
  margin: 10px 10px 10px 10px;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255,255,255);
  border-radius: 6px;
  animation: Fadein 0.5s linear;
}

.project-item:hover{
  background-image: url('/public/Skill-card.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.project-name{
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  color: white;
  margin-bottom: 2rem;
}


.project-button{
  border: none;
  padding: 10px 10px;
  background-color: transparent;
  margin: 0rem 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: rgba(255,255,255);
  border-radius: 10px;
}

.project-button:hover{
  background-color: lightblue;
}

.project-active{
  border-bottom: 3px white outset;
}


@media screen and (max-width: 1300px){
  .button-div{
    display: flex;
    flex-direction: column;
  }

  .project-button{
    margin-bottom: 2rem;
  }

  .project-item{
    min-width: 50vw;
    height: 80%;
  }
  

  .Project-Page{
    margin: 0rem 0rem 0rem 0rem;
    width: 100%;
    height: 60vh;
    align-items: center;
    justify-content: start;
  }

  .project-storage{
    width: 80vw;
    height: 80%;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: start;
    overflow-x: scroll;
  }

}

@keyframes Fadein{
  0% {
    display: none;
    opacity: 0;
  }
  1%{
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}