.Project-Page{
  max-height: fit-content;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  width: 100%;
  margin: 3rem 0rem 10rem 0rem;
}

.button-div{
  margin: 50px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project-storage{
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
  grid-template-rows: repeat(auto-fill, minmax(100px, auto));
  overflow-x: none;
  gap: 10px;
  width: 100%;
}

#inprogress-projects{
  display: none;
}

#complete-projects{
  display: grid;
}


.project-item{
  height: auto;
  display: flex;
  position: relative;
  padding: 10px 10px;
  margin: 10px 10px 10px 10px;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f1f1;
  border-radius: 6px;
  transition: top ease 0.5s;
  top: 0;
  border: 2px solid transparent;
}

.project-item:hover{
    background-image: url('/public/Skill-card.png');
    background-size: cover;
    background-repeat: no-repeat;
    top: -10px;
    border: 2px solid rgb(64, 175, 64);
}



.project-name{
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  color: white;
  margin-bottom: 2rem;
}


.project-button{
  position: relative;
  border: none;
  padding: 10px 10px;
  background-color: transparent;
  margin: 0rem 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: black;
  border-radius: 10px;
}

.project-active{
  border-radius: 0;
  border-bottom: 3px white outset;
}


@media screen and (max-width: 1300px){
  .button-div{
    display: flex;
    flex-direction: column;
  }

  .project-button{
    margin-bottom: 2rem;
  }
  

  .Project-Page{
    margin: 0rem 0rem 0rem 0rem;
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: start;
  }

  .project-storage{
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-gap: 1em;
    grid-template-rows: repeat(auto-fill, minmax(100px, auto));
    width: 100%;
  }
}

@media screen and (max-width: 600px){
  .project-storage{
    display: grid;
    grid-template-columns: repeat(1, minmax(100px, 1fr));
    grid-gap: 1em;
    grid-template-rows: repeat(auto-fill, minmax(100px, auto));
    width: 100%;
  }

}

@keyframes Fadein{
  0% {
    display: none;
    opacity: 0;
  }
  1%{
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}